server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      enabled: true

spring:
  datasource:
    url: jdbc:postgresql://localhost:5434/ewm
    username: sa
    password: sa
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
  sql:
    init:
      mode: always
  application:
    name: ewm-test

stats-server:
  url: http://localhost:9090